* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: "Helvetica Neue";
  color: hsl(200, 50%, 10%);
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

pre {
  font-family: Consolas, Monaco, monospace;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}

path {
  fill: hsl(200, 50%, 10%);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-no-shrink {
  flex-shrink: 0;
}

.align-right {
  text-align: right;
}

.App {
  height: 100%;
}

.master {
  width: 0px;
  background: hsl(200, 50%, 10%);
  margin: 0;
  padding: 0;
  overflow: auto;
  transition: width 200ms ease;
}

.nav-open .master {
  width: 20%;
}

.Toolbar {
  padding: 10px;
  height: 45px;
  border-bottom: 1px solid hsl(0, 0%, 75%);
}

.preview {
  border: none;
  display: block;
}

.code, .preview {
  width: 50%;
}

.code {
  overflow: auto;
  outline: none;
  font-size: 16px;
  font-family: "Source Code Pro";
  padding: 10px;
  margin: 0;
  border: none;
  border-right: 1px solid hsl(0, 0%, 75%);
  color: hsl(200, 50%, 75%);
  background: hsl(200, 50%, 95%);
}

.code:focus {
  color: hsl(200, 50%, 10%);
}

.master a {
  font-size: 14px;
  outline: none;
  display: block;
  color: hsl(200, 90%, 100%);
  padding: 2px 10px;
  text-decoration: none;
  white-space: nowrap;
}

.master a:hover,
.master a:focus {
  background: hsl(200, 50%, 20%);
}

.master a.active {
  background: hsl(200, 50%, 50%);
}

.master a:active {
  background: hsl(200, 50%, 30%);
}

.Toolbar button {
  outline: none;
  border: none;
  display: inline-block;
  background: none;
  font: inherit;
  padding: 0;
  margin: 0;
}

.Toolbar button:focus path {
  fill: hsl(200, 70%, 50%);
}

.Toolbar button:active path {
  fill: hsl(10, 50%, 50%);
}

